<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/hamburguesas">Hamburguesas</a></li>
        <li><a href="/tragos">Tragos</a></li>
        <li><a href="/entradas">Entradas</a></li>
        <li><a href="/visitanos">Visitanos</a></li>
        <li><a href="/contactanos">Contactanos</a></li>

      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
