<div class="container-fluid">
    <div id="Hamburguesas" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <h1>Hamburguesas</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt labore, illo repellendus tempora, earum
                ipsum maxime at repudiandae provident incidunt, voluptate vel neque assumenda aut suscipit obcaecati
                ducimus maiores fugiat!</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="Tragos" class="row align-items-center heroDos">
        <div class="col-lg-3 offset-lg-8">
            <h1>Tragos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt labore, illo repellendus tempora, earum
                ipsum maxime at repudiandae provident incidunt, voluptate vel neque assumenda aut suscipit obcaecati
                ducimus maiores fugiat!</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="Entradas" class="row align-items-center heroTres">
        <div class="col-lg-3 offset-lg-2">
            <h1>Entradas</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo rerum adipisci quis consequuntur,
                veritatis repellat earum tempora. Atque, nesciunt ex molestias vel neque deserunt voluptatibus qui
                voluptatum assumenda ea voluptates!</p>
        </div>
    </div>
</div>


<div id="Visitanos" class="row py-4">

    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13085.016660836722!2d-57.95806921480323!3d-34.92516209128649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e73314fdc9e1%3A0x6700074079cfff37!2sBaum%20La%20Plata!5e0!3m2!1ses-419!2sar!4v1679766434548!5m2!1ses-419!2sar"></iframe>
        </div>

        <h1>Contactanos</h1>
        <form class="row g-3" action="/" method="post">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nombre</label>
                <input type="name" class="form-control" id="inputEmail4" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Apellido</label>
                <input type="password" class="form-control" id="inputPassword4" name="Apellido">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Mail</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="mail@ejemplo.com" name="email">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Tel</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="1234567891" name="tel">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Dejanos tu opinión</label>
                <input type="text" class="form-control" id="inputCity" name="mensaje">
            </div>
            <div class="col-11">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <p>{{ message }}</p>
    </div>
</div>