footer{
    background-color: #aaa;
}

h1, h2 {
    font-family: 'Alfa Slab One', cursive;
}

.hero{
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}

.heroDos{
    background: url(../img/header4.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}

.heroTres{
    background: url(../img/header3.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}

.mapa iframe{
    width: 100%;
    aspect-ratio: 1.2;
}